## Introducción a Python para el análisis de datos

docente:[Daniel Jiménez](www.danieljimenezm.com)

## Declaración de variables

In [9]:
Peso = 100
Altura = 1.60
print('De esta manera se imprime el peso',Peso)
print('De esta manera se imprime la altura',Altura)

De esta manera se imprime el peso 100
De esta manera se imprime la altura 1.6

## Haciendo unos calculos sencillos
$$
IBM = \frac{Peso}{Altura^2}
$$

In [10]:
## Modelando el caso anterior

IBM = Peso/Altura**2
print('Este es el caso del calculo IBM',IBM)

Este es el caso del calculo IBM 39.06249999999999

Notese que para elevar un dato en  Python se trabaja con el Operador **

In [11]:
## Identificando de que tipo de dato se trata
type(IBM)

float

In [12]:
type(Altura)

float

In [13]:
## Algunos ejemplos sencillos

Nombre = 'No se que'
dia = 5
print(type(Nombre))
print(type(dia))

<class 'str'>
<class 'int'>

De la anterior manera podrá verificar con que tipo de datos se trabaja

In [14]:
## Se puede sumar palabras??

'Al' + 'icia'

'Alicia'

## Tipo de datos

* float: Números reales
* int: Números enteros
* bool: Verdad/Falso
* str: strings o textos

## Listas

In [15]:
lista = [1,2,3,4,5,6,7]
print(lista)
print(type(lista))

[1, 2, 3, 4, 5, 6, 7]
<class 'list'>

In [16]:
## Las listas pueden combinar distintos tipos de factores
lista_combinada = ['Lunes',8]
print(lista_combinada)
print(type(lista_combinada))

['Lunes', 8]
<class 'list'>

In [17]:
## Si evaluamos los elementos de la lista
print(type(lista_combinada[0]), 'primer elemento de la lista')
print(type(lista_combinada[1]),'Segundo elemento de la lista')

<class 'str'> primer elemento de la lista
<class 'int'> Segundo elemento de la lista

In [18]:
## ¿Qué pasaría si hago esto?
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [19]:
A = list(range(0,11,2))
A[-1]

10

In [20]:
A = list(range(0,11,2))
A[2:4]

[4, 6]

In [21]:
len(A)

6

In [22]:
## Anexando un cambio a un elemento a la lista
A[5] = 12
print(A)

[0, 2, 4, 6, 8, 12]

In [23]:
## Agregando elementos a la Lista
B  = ['No se aceptan trabajos después de las 11:59', 'a.m',13]
C = A + B
print(C)

[0, 2, 4, 6, 8, 12, 'No se aceptan trabajos después de las 11:59', 'a.m', 13]

In [24]:
## ¿Qué pasaría si hago esto?
del(A[0])
print(A)

[2, 4, 6, 8, 12]

In [25]:
## Veamos otros tratamientos a la lista
x = ['Karen','Felipe','Valentina','F','Tortuga']
y = list(x)
print(y)

['Karen', 'Felipe', 'Valentina', 'F', 'Tortuga']

In [26]:
y_1 = x[:]
y_1[1]

'Felipe'

In [27]:
## Qué pasaría si?
for i in y : # Leasé: por cada elemento de Y (llamado i)
    print(i) # Imprima el valor de i

Karen
Felipe
Valentina
F
Tortuga

In [28]:
## Ajustando un poco el ciclo
for i in y :
    A = 'El individuo de esta lista se llama:'
    print(A + i)

El individuo de esta lista se llama:Karen
El individuo de esta lista se llama:Felipe
El individuo de esta lista se llama:Valentina
El individuo de esta lista se llama:F
El individuo de esta lista se llama:Tortuga

In [29]:
for i in range(10):
    print('El cuadrado del elemento', i,' es', i**2)

El cuadrado del elemento 0  es 0
El cuadrado del elemento 1  es 1
El cuadrado del elemento 2  es 4
El cuadrado del elemento 3  es 9
El cuadrado del elemento 4  es 16
El cuadrado del elemento 5  es 25
El cuadrado del elemento 6  es 36
El cuadrado del elemento 7  es 49
El cuadrado del elemento 8  es 64
El cuadrado del elemento 9  es 81

In [30]:
## Jugando un poco con el for 
for i in range(10):
    print('Este número no es divisible es igual a 5', i)
    if i==5:
        print('Este número es igual a cinco',5)

Este número no es divisible es igual a 5 0
Este número no es divisible es igual a 5 1
Este número no es divisible es igual a 5 2
Este número no es divisible es igual a 5 3
Este número no es divisible es igual a 5 4
Este número no es divisible es igual a 5 5
Este número es igual a cinco 5
Este número no es divisible es igual a 5 6
Este número no es divisible es igual a 5 7
Este número no es divisible es igual a 5 8
Este número no es divisible es igual a 5 9

In [31]:
lista = list(range(10))
for i in lista:
    if i %2 != 0:
        lista.remove(i)
    print('Este # no es divisible por dos: ', i)

Este # no es divisible por dos:  0
Este # no es divisible por dos:  1
Este # no es divisible por dos:  3
Este # no es divisible por dos:  5
Este # no es divisible por dos:  7
Este # no es divisible por dos:  9

In [32]:
lista = list(range(10))
for i in lista:
    if i %2 == 0:
        lista.remove(i)
    if i == 4:
        continue
    print('Este #  es divisible por dos: ', i)

Este #  es divisible por dos:  0
Este #  es divisible por dos:  2
Este #  es divisible por dos:  6
Este #  es divisible por dos:  8

In [33]:
lista = list(range(10))
for i in lista:
    if i %2 == 0:
        lista.remove(i)
    if i == 4:
         i=i**2
    print('Este #  es divisible por dos: ', i)

Este #  es divisible por dos:  0
Este #  es divisible por dos:  2
Este #  es divisible por dos:  16
Este #  es divisible por dos:  6
Este #  es divisible por dos:  8

## Tarea
### Punto1
En un nuevo notebook haga una lista que cumpla con las siguientes condiciones:

1. Que sean números divisibles por 3
2. la lista debe tener al menos 111 elementos
3. Omita el Número 9 en el loop

### Punto2
Complete la siguiente función

In [34]:
for n in range(0, 100,5):
    for x in range(2, n):
         if n % x == 0:
             print(n, 'Completa acá', x, '*', n//x)
             break
    else:
        
         print(n, 'Completa acá')

0 Completa acá
5 Completa acá
10 Completa acá 2 * 5
15 Completa acá 3 * 5
20 Completa acá 2 * 10
25 Completa acá 5 * 5
30 Completa acá 2 * 15
35 Completa acá 5 * 7
40 Completa acá 2 * 20
45 Completa acá 3 * 15
50 Completa acá 2 * 25
55 Completa acá 5 * 11
60 Completa acá 2 * 30
65 Completa acá 5 * 13
70 Completa acá 2 * 35
75 Completa acá 3 * 25
80 Completa acá 2 * 40
85 Completa acá 5 * 17
90 Completa acá 2 * 45
95 Completa acá 5 * 19

In [35]:
A = list(range(0, 100,5))
print(max(A))
print(min(A))

95
0

In [36]:
## Ajustando los valores en un for 
A=list(range(0,100,5))
for i in A:
    div = i/2
    print(round(div,1))

0.0
2.5
5.0
7.5
10.0
12.5
15.0
17.5
20.0
22.5
25.0
27.5
30.0
32.5
35.0
37.5
40.0
42.5
45.0
47.5

In [37]:
A=list(range(0,100,5))
for i in A:
    div = i/3
    print(round(div,2))

0.0
1.67
3.33
5.0
6.67
8.33
10.0
11.67
13.33
15.0
16.67
18.33
20.0
21.67
23.33
25.0
26.67
28.33
30.0
31.67

In [38]:
## Ajustando valores en una lista
un_nombre = 'walter'
print('='*64)
print('Colocando el nombre con la primer letra con mayúscula')
print(un_nombre.capitalize())
print('Colocando todas las letras en mayúsculas')
print(un_nombre.upper())
print('Reemplazando algunas letras')
print(un_nombre.replace('w','gu'))
print('='*64)

================================================================
Colocando el nombre con la primer letra con mayúscula
Walter
Colocando todas las letras en mayúsculas
WALTER
Reemplazando algunas letras
gualter
================================================================

## Creando funciones

In [39]:
def my_name():
    print('Me llamo Bruce')

In [40]:
my_name()

Me llamo Bruce

In [41]:
def your_name(i):
    print('Su nombre es: ',i)

In [42]:
your_name('Ali')

Su nombre es:  Ali

In [43]:
def my_function(x):
  return 11 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

33
55
99

## Tarea 2

Cree una función del tipo fibonacci pero a este resultado dividalo entre 3, dejelo con un solo digito y al lado de este valor coloqué su representación logarítmica

In [44]:
Numeros = list(range(0,11))
eventos = Numeros[0::2]
eventos

[0, 2, 4, 6, 8, 10]

In [45]:
## Comprobando algunas cosas
x = list(['Karen','Felipe','Valentina','F','Tortuga'])
for i in x:
    if i =='Felipe':
        pass
    print(i)

Karen
Felipe
Valentina
F
Tortuga

In [46]:
x[1]==x[1]

True

In [47]:
x[1]==x[2]

False

In [48]:
[1,2,3]>[1,0,3]

True

## Diccionario

In [49]:
Notas = {"Julio":5,
         "Martina":2}

In [50]:
Notas

{'Julio': 5, 'Martina': 2}

In [51]:
type(Notas)

dict

In [58]:
import pandas as pd
data = {'Nombres': ['Julio','Martina'], 
        'Notas': [1,5]}
pd.DataFrame.from_dict(data)

   Nombres  Notas
0    Julio      1
1  Martina      5